$body-bg: #111;

$body-color: rgba(255, 255, 255, 0.9);

$theme-colors: (
	'primary': #FAAC77,
	'secondary': #C9C9BD,
	'success': #577717,
	'info': #3f7679,
	'warning': #ac5b2c,
	'danger': #88193a,
	'light': #F0EFEE,
	'dark': #333C3E
);

@import 'bootstrap/scss/bootstrap';
