@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

$body-color: rgba(255, 255, 255, 0.9);

$theme-colors: (
	'primary': #faac77,
	'secondary': #c9c9bd,
	'success': #577717,
	'info': #3f7679,
	'warning': #ac5b2c,
	'danger': #88193a,
	'light': #f0efee,
	'dark': #333c3e
);

@import 'bootstrap/scss/bootstrap';

p {
	font-family: 'Noto Serif', serif;
}

* {
	font-family: 'Noto Mono', monospace;
}
